{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Create new type</h1>

    {{ include('product/_form.html.twig') }}

   <button style="font-weight: bold"><a style="color: black; text-decoration:none" href="{{ path('product_index') }}">Back to list</a></button>
{% endblock %}