{% extends 'base.html.twig' %}

{% block title %}New component{% endblock %}

{% block body %}
    <h1>Add new family member</h1>

    {{ include('component/_form.html.twig') }}

    <button style="font-weight: bold"><a style="color: black; text-decoration:none" href="{{ path('component_index') }}">Back to list</a></button>
{% endblock %}